---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";
import LeftTitleBlock from "@/components/ui/LeftTitleBlock.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout SEOTitle="Careers">
  <ShortHeader
    title="Careers"
    subtitle="Join us in doing purposeful, sustainable work that helps shape our communities and the future."
  />
  <main class="px-6 max-w-screen-2xl items-center justify-center mx-auto">
    <br />
    <BreadCrumbsDefault />
    <br />
    <section class="pt-16">
      <div class="pb-8">
        <div class="post-wrapper">

          <LeftTitleBlock>
            <div slot="title">About you</div>
            <div slot="content">
              <p class="text-gray-700 mb-4">
                Preferably you have a first-class honours degree or higher qualification in Economics, Statistics, or related studies. We prioritise experienced candidates, with a minimum of five years relevant experience working in local or central government or consulting firms.
              </p>              
            </div>
          </LeftTitleBlock>
          <hr class="my-8 border-t border-gray-200" />


          <LeftTitleBlock>
            <div slot="title">About us</div>
            <div slot="content">
              <p class="text-gray-700 mb-4">
                Principal Economics is multi-disciplinary consultancy providing evidence-based decision support for public and private clients. We pride ourselves in, using principles of Economics to provide advice on a wide range of topical issues and working in an adhocracy and transparent organisational culture with supportive colleagues. We have been working on a range of important topics around infrastructure, housing, social policy, climate change, and disruptive technologies (amongst other topics). We have a flat organisation chart. Each project is led by our Directors and is supported by our economists.
                </p>
            </div>
          </LeftTitleBlock>
          <hr class="my-8 border-t border-gray-200" />

          <LeftTitleBlock>
            <div slot="title">Contact us today</div>
            <div slot="content">
              <p class="text-gray-700 mb-4">
                For more information please send your CV to careers@principaleconomics.co.nz</p>
              </p>  
            </div>
          </LeftTitleBlock>
          <hr class="my-8 border-t border-gray-200" />
    </section>
  </main>
</BaseLayout>
