---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";

const { frontmatter } = Astro.props;
---


<BaseLayout SEOTitle="About us">
  <ShortHeader title="About us" subtitle="Expert economic consulting for sustainable growth and lasting impact" />
  <main class="px-6 max-w-screen-2xl items-center justify-start mx-auto">
    <br />
    <BreadCrumbsDefault />
    <br />
    <section class="pt-16 item">
      <div class="pb-8">
        <div class="post-wrapper">

      <div class="flex flex-col md:flex-row gap-4 md:gap-6">
        <!-- Left Column (Title) -->
        <div class="w-full md:w-1/2 lg:w-[30%] xl:w-[25%] hidden md:block lg:block xl:block">
          <h2 class="text-4xl">About us</h2>
        </div>
    
        <!-- Right Column (Content) -->
        <div class="w-full md:w-[50%] lg:w-[70%] xl:w-[75%] space-y-3 prose">
          <p class="text-gray-700 mb-4">
            At Principal Economics we strive to drive meaningful, lasting change through expert economic consulting. By delivering innovative, data-driven solutions, we empower societies to thrive and economies to grow sustainably. Collaborating with clients and stakeholders, we tackle complex challenges with integrity, accountability, and a commitment to shaping a better future
          </p>          
        </div>
      </div>
      <hr class="my-8 border-t border-gray-200" />

      <div class="flex flex-col md:flex-row gap-4 md:gap-6">
        <!-- Left Column (Title) -->
        <div class="w-full md:w-1/2 lg:w-[30%] xl:w-[25%] md:block lg:block xl:block">
          <h2 class="text-4xl">Purpose</h2>
        </div>
        <!-- Right Column (Content) -->
        <div class="w-full md:w-[60] lg:w-[60%] xl:w-[60%] space-y-3 prose">
          <p>We are committed to:</p>
          <ul>
            <li>Delivering expert economic consulting that fosters sustainable development and societal well-being.</li>
            <li>Providing innovative, evidence-based solutions to complex economic challenges.</li>
            <li>Partnering with clients and stakeholders to develop tailored strategies that create measurable impact.</li>
            <li>Upholding the highest standards of accountability, integrity, and excellence.</li>
            <li>Continuously improving our methodologies to deliver the best possible outcomes.</li>
        </ul>
          
        </div>
      </div>
      <hr class="my-8 border-t border-gray-200" />
      
      <div class="flex flex-col md:flex-row gap-4 md:gap-6">
        <!-- Left Column (Title) -->
        <div class="w-full md:w-1/2 lg:w-[30%] xl:w-[25%] md:block lg:block xl:block">
          <h2 class="text-4xl">Values</h2>
        </div>
        <!-- Right Column (Content) -->
        <div class="w-full md:w-[60] lg:w-[60%] xl:w-[60%] space-y-3 prose">
          <p>We are committed to:</p>
          <ul>
            <li>Drive our consultancy services by the questions and needs of our clients.</li>
            <li>Tailor our solutions to their specific challenges and goals.</li>
            <li>Provide unparalleled client experience through attentive service and responsiveness.</li>
        </ul>
        </div>
      </div>
      <hr class="my-8 border-t border-gray-200" />

      <div class="flex flex-col md:flex-row gap-4 md:gap-6">
        <!-- Left Column (Title) -->
        <div class="w-full md:w-1/2 lg:w-[30%] xl:w-[25%] md:block lg:block xl:block">
          <h2 class="text-4xl">Evidence-Informed Insights</h2>
        </div>
        <!-- Right Column (Content) -->
        <div class="w-full md:w-[60] lg:w-[60%] xl:w-[60%] space-y-3 prose">
          <p>We are committed to:</p>
          <ul>
            <li>Base our recommendations on rigorous analysis and evidence.</li>
            <li>Leverage robust economic frameworks to develop reliable and insightful strategies.</li>
            <li>Stay at the forefront of economic research and industry trends to deliver cutting-edge solutions.</li>
        </ul>
        </div>
      </div>
      <hr class="my-8 border-t border-gray-200" />

      <div class="flex flex-col md:flex-row gap-4 md:gap-6">
        <!-- Left Column (Title) -->
        <div class="w-full md:w-1/2 lg:w-[30%] xl:w-[25%] md:block lg:block xl:block">
          <h2 class="text-4xl">Collaborative Engagement</h2>
        </div>
        <!-- Right Column (Content) -->
        <div class="w-full md:w-[60] lg:w-[60%] xl:w-[60%] space-y-3 prose">
          <p>We are committed to:</p>
          <ul>
            <li>Engage stakeholders at all levels to ensure a holistic understanding of challenges and opportunities.</li>
            <li>Foster open communication and active collaboration with clients, colleagues, and communities.</li>
            <li>Embrace diverse perspectives to drive innovation and creativity in our solution.</li>
          </ul>
        </div>
      </div>
      <hr class="my-8 border-t border-gray-200" />
</section>
</div>
</div>
  </main>
</BaseLayout>
