---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";
import LeftTitleBlock from "@/components/ui/LeftTitleBlock.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout SEOTitle="About us">
  <Fragment slot="SEO">
    <meta property="og:title" content="About us | Principal Economics" />
    <meta
      property="og:url"
      content={`https://principaleconomics.co.nz${Astro.url.pathname}`}
    />
    <meta
      property="og:description"
      content="Expert economic consulting for sustainable growth and lasting impact"
    />
    <meta name="twitter:title" content="About us | Principal Economics" />
    <meta
    name="twitter:description"
    content="Expert economic consulting for sustainable growth and lasting impact."
    />
    <link rel="canonical" href={`https://principaleconomics.co.nz${Astro.url.pathname}`} />
  </Fragment>
  <ShortHeader
    title="About us"
    subtitle="Expert economic consulting for sustainable growth and lasting impact"
  />
  <main class="px-6 max-w-screen-2xl items-center justify-center mx-auto">
    <br />
    <BreadCrumbsDefault />
    <br />
    <section class="pt-16">
      <div class="pb-8">
        <div class="post-wrapper">

          <LeftTitleBlock>
            <div slot="title">Who we are</div>
            <div slot="content">
              <h2>Our purpose</h2>
              <p class="text-gray-700 mb-4">
                At Principal Economics we strive to drive meaningful, lasting
                change through expert economic consulting. By delivering
                innovative, data-driven solutions, we empower societies to
                thrive and economies to grow sustainably. Collaborating with
                clients and stakeholders, we tackle complex challenges with
                integrity, accountability, and a commitment to shaping a better
                future
              </p>
                <h2>We are committed to:</h2>
                <ul>
                  <li>
                    Delivering expert economic consulting that fosters sustainable
                    development and societal well-being.
                  </li>
                  <li>
                    Providing innovative, evidence-based solutions to complex
                    economic challenges.
                  </li>
                  <li>
                    Partnering with clients and stakeholders to develop tailored
                    strategies that create measurable impact.
                  </li>
                  <li>
                    Upholding the highest standards of accountability, integrity,
                    and excellence.
                  </li>
                  <li>
                    Continuously improving our methodologies to deliver the best
                    possible outcomes.
                  </li>
                </ul>
              </p>
              
            </div>
            
          </LeftTitleBlock>
          <hr class="my-8 border-t border-gray-200" />

          <LeftTitleBlock>
            <div slot="title">Our values</div>
            <div slot="content">
              <h2>Client-Centered Solutions</h2>
              <ul>
                  <li>Grounding our consultancy in our clients’ specific questions, challenges, and goals.</li>
                  <li>Tailoring our solutions to deliver practical and effective results.</li>
                  <li>Providing an unparalleled client experience through attentive service and responsiveness.</li>
              </ul>
      
              <h2>Evidence-Driven Insights</h2>
              <ul>
                  <li>Basing our recommendations on rigorous analysis and evidence.</li>
                  <li>Applying robust economic frameworks to develop reliable strategies.</li>
                  <li>Staying at the forefront of economic research and industry trends to offer cutting-edge solutions.</li>
              </ul>
      
              <h2>Collaborative Engagement</h2>
              <ul>
                  <li>Engaging stakeholders at all levels to ensure a holistic understanding of challenges and opportunities.</li>
                  <li>Encouraging open communication and active collaboration with clients, colleagues, and communities.</li>
                  <li>Embracing diverse perspectives to drive innovation and creativity in our solutions.</li>
              </ul>
            </div>
          </div>
          </LeftTitleBlock>
          <hr class="my-8 border-t border-gray-200" />

          <LeftTitleBlock>
            <div slot="title">Our guiding principles</div>
            <div slot="content">
              <p>At Principal Economics, our work is driven by a strong foundation of economic expertise, 
                a commitment to excellence, and a people-first culture. These guiding principles shape our 
                approach, ensuring we deliver meaningful and lasting impact.</p>

                <section class="section">
                  <h2>Principles of Economics</h2>
                  <ul>
                      <li>Rooting our work in proven economic principles and theories.</li>
                      <li>Applying economic analysis to uncover insights, identify risks, and optimize opportunities.</li>
                      <li>Ensuring our recommendations are grounded in sound economic logic and rigorous analysis.</li>
                  </ul>
              </section>
          
              <section class="section">
                  <h2>Performance Excellence</h2>
                  <ul>
                      <li>Striving for excellence in all aspects of our work.</li>
                      <li>Delivering impactful and sustainable solutions that significantly improve our clients' performance.</li>
                      <li>Upholding the highest professional standards and continuously pushing the boundaries of our expertise.</li>
                  </ul>
              </section>
          
              <section class="section">
                  <h2>Exceptional People and Culture</h2>
                  <ul>
                      <li>Creating an unrivaled environment that attracts and retains top talent.</li>
                      <li>Cultivating a culture of collaboration, continuous learning, and personal growth.</li>
                      <li>Encouraging diversity, inclusivity, and a strong sense of belonging within our team.</li>
                  </ul>
              </section>

            </div>
          </div>
          </LeftTitleBlock>
          <hr class="my-8 border-t border-gray-200" />


          

    </section>
  </main>
</BaseLayout>
