---
export const partial = true;
// import Industries from "./industries.astro";
import SearchWidget from "./SearchWidget.astro";
import NavCluser from "./NavCluster.astro";
---

<nav class="relative text-gray-900 w-full">
  <div class="container flex flex-row max-w-screen-2xl mx-auto">
    <div class="py-4 lg:p-6 text-xl text-blue-600 font-bold">
      Principal Economics
    </div>
      <NavCluser/>
      <div class="flex ml-auto justify-end">
        <SearchWidget />
      </div>
    </div>
</nav>

<style>
  .toggleable > label:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .toggle-input {
    display: none;
  }

</style>

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
