---
export const partial = true;
import Industries from "./industries.astro";
import Collapse from "@alpinejs/collapse";

---

<nav class="relative bg-white border-b-2 border-gray-300 text-gray-900 w-full">
  <div class="container mx-auto flex justify-between flex-shrink">
    <div class="relative block p-4 lg:p-6 text-xl text-blue-600 font-bold">
      Principal Economics
    </div>
    <ul class="flex flex-shrink">
      <!--Regular Link-->
      <!-- <li
        class="hover:bg-blue-800 hover:text-white relative block py-6 px-2 lg:p-6 text-sm lg:text-base font-bold"
      >
        <a href="#" class="">Normal</a>
      </li> -->
      <!--Toggleable Link-->
      <li class="toggleable hover:bg-blue-800 hover:text-white">
        <input
          type="checkbox"
          value="selected"
          id="toggle-one"
          class="toggle-input"
        />
        <label
          for="toggle-one"
          class="block cursor-pointer py-6 px-4 lg:p-6 text-sm lg:text-base font-bold"
          >Industries
        </label>
        <div class="p-0 mega-menu mb-16 sm:mb-0 shadow-xl bg-blue-800 w-max mx-0 overflow-hidden">
          <Industries />
        </div>
      </li>
      <li class="toggleable hover:bg-blue-800 hover:text-white">
        <input
          type="checkbox"
          value="selected"
          id="toggle-two"
          class="toggle-input"
        />
        <label
          for="toggle-two"
          class="block cursor-pointer py-6 px-4 lg:p-6 text-sm lg:text-base font-bold"
          >Capabilities</label
        >
        <div class="p-0 mega-menu mb-16 sm:mb-0 shadow-xl bg-blue-800">
          <Industries />
        </div>
      </li>
      <!--Hover Link-->
      <li class="hoverable hover:bg-blue-800 hover:text-white">
        <a
          href="#"
          class="relative block py-6 px-4 lg:p-6 text-sm lg:text-base font-bold hover:bg-blue-800 hover:text-white"
          >Hover</a
        >
          <div class="p-0 mega-menu mb-16 sm:mb-0 shadow-xl bg-blue-800">
            <Industries />
          </div>
      </li>
    </ul>
  </div>
</nav>

<style>
  /* ––––––––––––––––––––––––––––––––––––––––––––––––––
Based on: https://codepen.io/nickelse/pen/YGPJQG
Influenced by: https://sproutsocial.com/
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  /* #Mega Menu Styles –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .mega-menu {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 1000;
  }

  /* #hoverable Class Styles –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .hoverable {
    position: static;
  }

  .hoverable > a:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .hoverable:hover .mega-menu {
    display: block;
  }

  /* #toggle Class Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  .toggleable > label:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .toggle-input {
    display: none;
  }
  .toggle-input:not(checked) ~ .mega-menu {
    display: none;
  }

  .toggle-input:checked ~ .mega-menu {
    display: block;
  }

  .toggle-input:checked + label {
    color: white;
    background: #2c5282; /*@apply bg-blue-800 */
  }

  .toggle-input:checked ~ label:after {
    content: "\25B2";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }
</style>

<script>
  document.querySelectorAll(".toggle-input").forEach((toggle) => {
    toggle.addEventListener("change", function () {
      // Close all toggles
      document.querySelectorAll(".toggle-input").forEach((t) => {
        if (t !== this) {
          t.checked = false;
        }
      });
    });
  });
</script>
