---
import Industries from "./IndustriesMenu.astro";
import Capabilities from "./CapabilitiesMenu.astro";
import DropDown from "./DropDown.astro";
---

<nav
    x-data="{ open: false, navigationMenu: '', 
    toggleMenu(menu) { this.navigationMenu = this.navigationMenu === menu ? '' : menu; this.open = this.navigationMenu ? true : false; }, 
    navigationMenuClose() { this.navigationMenu = ''; this.open = false; } }"
    @keydown.esc.window="open = false"
>
    <div class="place-items-start items-center h-full">
        <ul class="flex flex-row h-full">
            <li class="toggleable hover:bg-gray-100 hover:text-black h-full">
                <li>
                    <button
                        @click="toggleMenu('industries')"
                        @keydown.space.prevent="toggleMenu('industries')"
                        @keydown.enter.prevent="toggleMenu('industries')"
                        @keydown.down.prevent="toggleMenu('industries')"
                        aria-label="industries-menu"
                        class="button flex flex-row cursor-pointer px-5 text-lg items-center h-full"
                    >
                        Industries
                    </button>
                </li>

                <li>
                    <button
                        @click="toggleMenu('capabilities')"
                        @keydown.space.prevent="toggleMenu('capabilities')"
                        @keydown.enter.prevent="toggleMenu('capabilities')"
                        @keydown.down.prevent="toggleMenu('capabilities')"
                        aria-label="capabilities-menu"
                        class="button flex flex-row cursor-pointer px-5 text-lg items-center h-full"
                    >
                        Capabilities
                    </button>
                </li>

                <li>
                    <button
                        @click="toggleMenu('insights')"
                        @keydown.space.prevent="toggleMenu('insights')"
                        @keydown.enter.prevent="toggleMenu('insights')"
                        @keydown.down.prevent="toggleMenu('insights')"
                        aria-label="insights-menu"
                        class="button flex flex-row cursor-pointer px-5 text-lg items-center h-full"
                    >
                        Insights
                    </button>
                </li>

                <li>
                    <button
                        @click="toggleMenu('about-us')"
                        @keydown.space.prevent="toggleMenu('about-us')"
                        @keydown.enter.prevent="toggleMenu('about-us')"
                        @keydown.down.prevent="toggleMenu('about-us')"
                        aria-label="about-us-menu"
                        class="button flex flex-row cursor-pointer px-5 text-lg items-center h-full"
                    >
                        About us
                    </button>
                </li>

                <li>
                    <button
                        @click="toggleMenu('contact-us')"
                        @keydown.space.prevent="toggleMenu('contact-us')"
                        @keydown.enter.prevent="toggleMenu('contact-us')"
                        @keydown.down.prevent="toggleMenu('contact-us')"
                        aria-label="contact-us-menu"
                        class="button flex flex-row cursor-pointer px-5 text-lg items-center h-full"
                    >
                        Contact us
                    </button>
                </li>
            </li>
        </ul>
    </div>

    <div
        x-show="open" x-collapse class="absolute mt-2 w-full z-10 left-0"
        x-trap="open"
        x-bind:style="{ position: 'absolute', top: $anchor.y+'2px', left: '0px' }"
       @click.outside="isOpened = false, openedWithKeyboard = false" 
       @keydown.down.prevent="$focus.wrap().next()" 
       @keydown.up.prevent="$focus.wrap().previous()"
       class="rounded-md shadow-md max-w-full w-full sm:flex-col z-50 left-0"
        >
        <div>
            <template x-if="navigationMenu === 'industries'">
                <Industries />
            </template>
            <template x-if="navigationMenu === 'capabilities'">
                <Capabilities />
            </template>
        </div>
    </div>

    <!-- <DropDown title = "Test" ><Industries /> </DropDown> -->

    <!-- <DropDown title = "Test2" ><Industries /> </DropDown> -->
</nav>

<style>
    [x-cloak] {
        display: none;
    }
</style>
