---
import Industries from "./IndustriesMenu.astro";
import Capabilities from "./CapabilitiesMenu.astro";
import DropDown from "./DropDown.astro";
---

<nav
  x-data="{
  open: false, 
  navigationMenu: '',
  menuItems: [
      { name: 'industries', label: 'Industries'},
      { name: 'capabilities', label: 'Capabilities'},
      { name: 'insights', label: 'Insights' },
      { name: 'about-us', label: 'About Us' },
      { name: 'contact-us', label: 'Contact Us' }
  ],
  toggleMenu(menu) { this.navigationMenu = this.navigationMenu === menu ? '' : 
    menu; this.open = this.navigationMenu ? true : false; }, 
  navigationMenuClose() { 
        this.navigationMenu = ''; 
        this.open = false; 
      }
    }"
  @keydown.esc.window="open = false"
  @click.outside="open = false"
  x-ref="nav"
>
  <div class="place-items-start items-center h-full">
    <ul class="flex flex-row h-full">
      <!-- Iterate over menu items to create buttons dynamically -->
      <template x-for="item in menuItems" :key="item.name">
        <li class="toggleable hover:bg-gray-100 hover:text-black h-full">
          <button
            @click="toggleMenu(item.name)"
            @keydown.space.prevent="toggleMenu(item.name)"
            @keydown.enter.prevent="toggleMenu(item.name)"
            @keydown.down.prevent="toggleMenu(item.name)"
            :aria-label="item.label + '-menu'"
            class="button flex flex-row cursor-pointer px-5 text-lg items-center h-full"
          >
            <span x-text="item.label"></span>
          </button>
        </li>
      </template>
    </ul>
  </div>

  <!-- Menu panel control -->
  <div
    x-show="open"
    x-collapse
    x-trap="open"
    x-cloak
    x-anchor.no-style="$refs.nav"
    x-bind:style="{ position: 'absolute', top: $anchor.y, left: '0px' }"
    @click.outside="isOpened = false, openedWithKeyboard = false"
    @keydown.down.prevent="$focus.wrap().next()"
    @keydown.up.prevent="$focus.wrap().previous()"
    class="absolute rounded-md shadow-md max-w-full w-full sm:flex-col z-50 left-0"
  >
    <div>
      <!-- Menu panel components start -->
      <!-- Industries menu -->
      <template x-if="navigationMenu === 'industries'">
        <Industries />
      </template>
      <!-- Capabilities menu -->
      <template x-if="navigationMenu === 'capabilities'">
        <Capabilities />
      </template>
      <!-- Insights menu -->
      <template x-if="navigationMenu === 'insights'">
        <Capabilities />
      </template>
      <!-- About us menu -->
      <template x-if="navigationMenu === 'about-us'">
        <Capabilities />
      </template>
      <!-- Contact us menu -->
      <template x-if="navigationMenu === 'contact-us'">
        <Capabilities />
      </template>
    </div>
  </div>

  <!-- <DropDown title = "Test" ><Industries /> </DropDown> -->

  <!-- <DropDown title = "Test2" ><Industries /> </DropDown> -->
</nav>

<style>
  [x-cloak] {
    display: none;
  }
</style>
