---
import Industries from "./industries.astro";
import DropDown from "./DropDown.astro";
---

<div class="place-items-start items-center h-full">
    <ul class="flex flex-row h-full">
        <li
        x-data="{ isOpened: false, openedWithKeyboard: false }" @keydown.esc.window="isOpened = false, openedWithKeyboard = false"            
        class="toggleable hover:bg-gray-100 hover:text-black h-full"
        >
            <!-- Label -->
            <button
                x-ref="button"
                @click.prevent="isOpened = !isOpened; console.log('Dropdown opened:', isOpened)"                 
                @keydown.space.prevent="openedWithKeyboard = true" 
                @keydown.enter.prevent="openedWithKeyboard = true" 
                @keydown.down.prevent="openedWithKeyboard = true" 
                aria-controls="industries-menu"
                tabindex="0"
                class=" button flex flex-row cursor-pointer px-5 text-lg items-center h-full"
            >
                Industries
            </button>

            <!-- Panel -->
            <div
            x-cloak 
            x-show="isOpened || openedWithKeyboard" 
            x-collapse
            x-trap="openedWithKeyboard" 
            x-anchor.no-style="document.getElementById('nav')"
            x-bind:style="{ position: 'absolute', top: $anchor.y+'px' }"
            @click.outside="isOpened = false, openedWithKeyboard = false" 
            @keydown.down.prevent="$focus.wrap().next()" 
            @keydown.up.prevent="$focus.wrap().previous()" 
            id="industries-menu"
            style="display: none;"
            class="absolute left-0 shadow-md z-50 max-w-full w-full sm:flex-col"
            >
                <Industries />
            </div>
        </li>

        <DropDown title = "Capabilities" aria = "Capabilities">
            <Industries /> 
        <DropDown/>

    </ul>
</div>


<style>
    [x-cloak] { display: none; }

</style>