---
export const partial = true;


---

<div x-data="{ open: false }" class="flex flex-row items-center h-full justify-end">
    <div 
        x-show="open"
        x-transition
        x-cloak
        @click.away="open = false" 
        class="ml-2">
        <form class="form">
            <input 
                type="search"
                required
                min="2"
                max="20"
                id="search"
                placeholder="Search the website..."
                class="h-full border border-gray-300 rounded-md pl-2 transition duration-300 ease-in-out w-96"
                x-ref="searchInput"  
            />
        </form>
    </div>
    <button @click="open = !open; if (open) { $nextTick(() => $refs.searchInput.focus()) }" class="mt-2 text-gray-600 hover:text-gray-800">        <!-- Replace with your search icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M15 11a4 4 0 10-8 0 4 4 0 008 0z" />
        </svg>
    </button>
</div>

<!-- Include Alpine.js -->
<script src="https://cdn.jsdelivr.net/npm/alpinejs" defer></script>
