---
import '@/styles/global.css';
import BaseLayout from '@/components/BaseLayout.astro';
import Banner from '@/components/frontpage/banner.astro';
import BannerStrip from '@/components/frontpage/banner_strip.astro';

---

<BaseLayout SEOTitle="Main page">
			<br>
			<h1>404</h1>
			
		</BaseLayout>