---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";
import ContactForm from "@/components/ui/ContactForm.astro";
---

<BaseLayout SEOTitle="Contact Principal Economics">
	<!-- <ShortHeader
		title="About us"
		subtitle="Expert economic consulting for sustainable growth and lasting impact"
	/> -->
	<main class="px-6 max-w-screen-2xl items-center justify-start pl-4 mx-auto prose">
		<br />
    <div class="font-bold">
		<BreadCrumbsDefault />
    </div>
		<br />
		<div class="flex flex-col md:flex-row w-full">
      {/* Contact Info Section */}
      <div class="md:w-1/2 w-full flex items-center justify-center">
        <div class="w-full max-w-md">
          <h2 class="text-2xl font-semibold">Contact Information</h2>
          <p class="mt-2">You could send us a direct message to start the conversation</p>
          <div class="mt-4">
            <p class="mt-2">📞 0064 221 564529</p>
            <p class="mt-2">✉ contact@principaleconomics.com</p>
            <p class="mt-2">📍 Level 17, 55 Shortland Street, Auckland 1010</p>
          </div>
        </div>
      </div>

      {/* Contact Form Section */}
      <div class="md:w-1/2 w-full flex items-center justify-center">
        <div class="w-full max-w-2xl">
          <ContactForm />
        </div>
      </div>
    </div>
	</main>
</BaseLayout>
