---
import '@/styles/global.css';
import BaseLayout from '@/components/BaseLayout.astro';
// import Banner from '@/components/frontpage/banner.astro';
import BannerStrip from '@/components/frontpage/banner_strip.astro';
import Herowaves from '@/components/frontpage/herowaves.astro';
import Resource_wide from '@/components/frontpage/resources_wide.astro';
import Publications_wide from '@/components/frontpage/Publications_wide.astro';
import Articles_wide from '@/components/frontpage/Articles_wide.astro';
import SectionBreakHR from "@/components/ui/SectionBreakHR.astro";
---

<BaseLayout SEOTitle="Main page">
		<Herowaves />
		<BannerStrip />
			<br>
			<main>
				<div class="p-2 bg-white py-6">
					<!-- <span class="flex items-center w-full overflow-hidden pt-6 pb-8 font-serif italic ">
						<span class="text-4xl px-6">Read our latest articles</span>
						<span class="h-[2px] flex-1 bg-zinc-300"></span>
					</span> -->
				<div class="px-6">
					<Articles_wide /> 
			</div></div>
				

				<div class="p-2 bg-gray-50 py-6">
					<span class="flex items-center w-full overflow-hidden pt-6 pb-8 font-serif italic ">
						<span class="text-4xl px-6">See our latest publications</span>
						<span class="h-[2px] flex-1 bg-zinc-300"></span>
					</span>
				<div class="px-6">
				<Publications_wide />
			</div></div>

			<div class="p-2 bg-white">
				<span class="flex items-center w-full overflow-hidden pt-6 pb-8 font-serif italic ">
					<span class="text-4xl px-6">Browse our resources</span>
					<span class="h-[2px] flex-1 bg-zinc-300"></span>
				</span>
			<Resource_wide />
		</div>
	</div>
		</main>
		</BaseLayout>