---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";
import SectionBreakHR from "@/components/ui/SectionBreakHR.astro";
import PubList from "@/components/PubList.astro";
import ArtList from "@/components/ArtList.astro";
import ResList from "@/components/ResList.astro";
---

<BaseLayout>
  <Fragment slot="SEO">
    <meta property="og:title" content="Insights | Principal Economics" />
    <meta
      property="og:url"
      content="https://principaleconomics.co.nz/insights"
    />
    <meta
      property="og:description"
      content="Publications, analysis, and resources for a deeper understanding of economic and policy issues."
    />
    <meta name="twitter:title" content="Insights | Principal Economics" />
    <meta
    name="twitter:description"
    content="Publications, analysis, and resources for a deeper understanding of economic and policy issues."
    />
    <link rel="canonical" href="https://principaleconomics.co.nz/insights" />
  </Fragment>

  <ShortHeader
    title="All insights"
    subtitle="Publications, analysis, and resources for a deeper understanding of economic and policy issues."
  />
  <main class="px-6 max-w-screen-2xl mx-auto">
    <br />
    <BreadCrumbsDefault />
    <br />
    <section class="pt-16">
      <div class="pb-8">
        <div class="post-wrapper">
          <PubList />

          <span
            class="flex items-center w-full overflow-hidden py-12 font-serif italic"
          >
            <!-- <span class="text-4xl pr-6"></span> -->
            <span class="h-[2px] flex-1 bg-zinc-300"></span>
          </span>
          <ArtList />
          <span
            class="flex items-center w-full overflow-hidden py-12 font-serif italic"
          >
            <!-- <span class="text-4xl pr-6"></span> -->
            <span class="h-[2px] flex-1 bg-zinc-300"></span>
          </span>
          <ResList />
          <SectionBreakHR />
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
