---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";

import PCard from "@/components/ui/PCard.astro";
import Herowaves from "@/components/frontpage/herowaves.astro";
---

<BaseLayout SEOTitle="Playground">
	<Herowaves />

	test2
	<div>
	</div>
</BaseLayout>
