---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";

import PCard from "@/components/ui/pCard.astro";
---

<BaseLayout SEOTitle="Playground">
	<br />
	test

	<PCard
		img="/blog-placeholder-3.jpg"
		tag="tag"
		title="title"
		date="date"
		description="desc"
		href="#"
	/>

	test
	<div>
		<pCard></pCard>
	</div>
</BaseLayout>
