---
import StripBox from "@/components/frontpage/banner_strip_boxes.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("articles");
const resources = await getCollection("resources");

const sortedInsights = [...articles].sort((a, b) => {
  const dateA = a.data.pubDate ? new Date(a.data.pubDate).getTime() : 0;
  const dateB = b.data.pubDate ? new Date(b.data.pubDate).getTime() : 0;
  return dateB - dateA;
});

const sortedResources = [...resources].sort((a, b) => {
  const dateA = a.data.pubDate ? new Date(a.data.pubDate).getTime() : 0;
  const dateB = b.data.pubDate ? new Date(b.data.pubDate).getTime() : 0;
  return dateB - dateA;
});

const combinedList = [
  ...sortedInsights.slice(0, 2),
  ...sortedResources.slice(0, 2),
];
---

<div class="w-full border-t-2 border-b-2 border-accent py-3">
  <div class="flex flex-wrap justify-between gap-0">
    <div class="flex items-center border-r-2 border-accent p-2 pl-6 pr-8">
      <h2 class="text-xl font-bold text-accent">Trending Insights</h2>
    </div>

    <div class="flex w-full flex-grow flex-wrap md:w-3/4">
      {
        combinedList.map((entry, index) => (
          <StripBox
            number={index + 1}
            description={entry.data.tagline}
            class="border-l-1 border-r-2 border-accent"
            href={`/${entry.collection}/${entry.slug}`}
          />
        ))
      }
    </div>
  </div>
</div>
