---
import StripBox from "../ui/banner_strip_boxes.astro";
import { getCollection } from "astro:content";
const articles = await getCollection("articles");

const allInsights = [...articles];

const sortedInsights = allInsights.sort((a, b) => {
  const dateA = a.data.pubDate ? new Date(a.data.pubDate).getTime() : 0;
  const dateB = b.data.pubDate ? new Date(b.data.pubDate).getTime() : 0;
  return dateB - dateA; // Sort in descending order
});

const latestInsights = sortedInsights.slice(0, 4);

---

<div class="w-full pt-3 pb-3 border-t-2 border-b-2 border-accent">
  <div class="flex flex-wrap justify-between gap-0">
    <div class="flex items-center border-l-0 border-r-2 border-accent p-2 pr-8 pl-6">
      <h2 class="text-xl font-bold text-accent">Trending Insights</h2>
    </div>
    <div class="flex flex-wrap w-full md:w-3/4 flex-grow">
      {latestInsights.map((entry, index) => (
        <StripBox
          number={index + 1}
          description={entry.data.tagline}
          class="border-l-1 border-r-2 border-accent"
          href={`/articles/${entry.slug}`}
        />
      ))}
    </div>

  </div>
</div>
