---
const { title } = Astro.props;
---

<div
  x-data="{
            open: false,
            toggle() {
                this.open = !this.open;
                this.open ? this.$refs.button.focus() : this.$refs.button.blur();
            },
            close(focusAfter) {
                if (!this.open) return;
                this.open = false;
                focusAfter && focusAfter.focus();
            }
        }"
  x-on:keydown.escape.prevent.stop="close($refs.button)"
  x-on:focusin.window="!$refs.panel.contains($event.target) && close()"
  x-on:mouseenter="open = true"
  x-on:mouseleave="close()"
  x-id="['dropdown-button']"
  class="relative items-center justify-center p-2 space-x-1 list-none text-blue-600 group z-11 text-lg font-medium transition-colors rounded-sd hover:bg-blue-600 hover:text-white focus:outline-none disabled:opacity-50 disabled:pointer-events-none group w-max"
  aria-label="Nav item 1"
>
    <!-- Button -->
    <button
      x-ref="button"
      x-on:click="toggle()"
      :aria-expanded="open"
      :aria-controls="$id('dropdown-button')"
      class="z-10 h-[50px] ml-0 font-lg"
    >
    <h1>{title}</h1>
    </button>
    <!-- Dropdown Menu -->
    <div
      x-ref="panel"
      x-show="open"
      x-cloak
      x-transition:enter="transition ease-out duration-200"
      x-transition:enter-start="opacity-100 translate-y-[-1px]"
      x-transition:enter-end="opacity-100 transform translate-y-0"
      x-transition:leave="transition ease-in duration-200"
      x-transition:leave-start="opacity-100 transform translate-y-0"
      x-transition:leave-end="opacity-0 transform translate-y-[-1px]"
      @click.outside="close($refs.button)"
      class="absolute left-0 z-20 flex flex-col items-start w-screen p-0 mt-2 rounded-sd bg-white shadow-md !ml-0"
    >
    <slot name = "content" />
    </div>
</div>
