---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";
---

<BaseLayout SEOTitle="Energy">
  <ShortHeader title="Energy" subtitle="Economy-wide analysis, forecasting, mitigation and abatement" />
  <div class="px-6 max-w-screen-2xl items-center justify-start pl-4 mx-auto">
    <br />
    <BreadCrumbsDefault />
    <br />
    <div class="grid grid-cols-4 gap-8">
      <aside class="col-span-1"></aside>
      <div class="col-span-2">
        <main>
          <section class="pt-16">
            <div class="pb-8">
              <h1>
                Economy-wide analysis, forecasting, mitigation and abatement
              </h1>
              <br />
              <p class="py-4">
                At Principal Economics, we specialise in providing robust, evidence-based solutions for energy challenges in New Zealand.
              </p>

              <p>
              <ul>
                <li>
                  <b>Expertise:</b> Our team consists of leading specialists in energy economics with extensive experience in developing advanced economic models.
                </li>
                <li>
                  <b>Proven framework:</b> We utilise our Computable General Equilibrium (CGE) model to offer a solid foundation for addressing energy-related issues effectively.
                </li>
                <li>
                  <b>Accurate forecasting:</b> Our econometric and simulation models deliver reliable forecasts for energy demand and prices, enabling informed decision-making.
                </li>
              </ul>
            </p>
            <p class="text-xl leading-relaxed overflow-hidden flex py-4">
              Recent Achievements:
              Our recent project delivered precise forecasts for peak and off-peak electricity demand, showcasing our commitment to delivering insights that drive impactful decisions.
              <br>
              Experience the Difference
              Partner with Principal Economics to access not just data, but strategic insights that elevate your energy strategies.
            </p>

            </div>

          </section>
        </main>
      </div>
      <div class="col-span-1 bg-slate-200"></div>
    </div>
  </div>
</BaseLayout>
