---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import IndustryCards from "@/components/ui/IndustryCards.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";
import { getCollection } from "astro:content";
const industries = await getCollection("industries");
---

<BaseLayout SEOTitle="Industries we work with">
	<ShortHeader 
		title="Industries we work with" 
		subtitle=" Collaborative expertise across diverse industries " />
	<main class="px-6 max-w-screen-2xl items-center justify-start pl-4 mx-auto">
		<br />
			<br />
			<section class="pt-16">
				<div class="pb-8">
					<!-- <h1 class="text-4xl max-w-4xl leading-snug">
						Collaborative expertise across diverse industries
					</h1> -->

					<p class="text-xl leading-relaxed overflow-hidden flex">
						At Principal Economics, we unite multidisciplinary teams of experts
						and academics to address complex challenges across a wide range of
						industries. Our collaborative approach allows us to deliver tailored
						insights and innovative solutions, ensuring that we meet the unique
						needs of each project.
					</p>
				</div>

				<div
					class="grid grid-cols-[repeat(auto-fit,minmax(356px,1fr))] justify-items-center auto-fit gap-6"
				>
					<!-- <div class="aspect-square bg-gray-100 p-8 w-90 border-t-[16px] border-blue-500"> -->
					<!-- Should probably just put the border into the box instead -->
				{
					industries.map((entry) => (

					<IndustryCards
						title={entry.data.title}
						href={`/industries/${entry.slug}`}
						cta={entry.data.title}
					>
						{entry.data.description} sector
					</IndustryCards>
					))
				}
				
				</div>



			</section>
			<br><br>
		</main>
</BaseLayout>
