---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import IndustryCards from "@/components/ui/IndustryCards.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";
---

<BaseLayout SEOTitle="Industries we work with">
	<ShortHeader 
		title="Industries we work with" 
		subtitle=" Collaborative expertise across diverse industries " />
	<main class="px-6 max-w-screen-2xl items-center justify-start pl-4 mx-auto">
		<br />
			<BreadCrumbsDefault />
			<br />
			<section class="pt-16">
				<div class="pb-8">
					<h1 class="text-4xl max-w-4xl leading-snug">
						Collaborative expertise across diverse industries
					</h1>
					<br />
					<p class="text-xl leading-relaxed overflow-hidden flex">
						At Principal Economics, we unite multidisciplinary teams of experts
						and academics to address complex challenges across a wide range of
						industries. Our collaborative approach allows us to deliver tailored
						insights and innovative solutions, ensuring that we meet the unique
						needs of each project.
					</p>
				</div>

				<div
					class="grid grid-cols-[repeat(auto-fit,minmax(356px,1fr))] justify-items-center auto-fit gap-6"
				>
					<!-- <div class="aspect-square bg-gray-100 p-8 w-90 border-t-[16px] border-blue-500"> -->
					<!-- Should probably just put the border into the box instead -->

					<IndustryCards
						title="Energy"
						href="industries/energy"
						cta="in the energy sector"
					>
						Learning JavaScript doesn't need to be difficult. Our penguin AI
						robot can learn how much you know and will go at your speed.
						Although Penguai is small, he's got a mighty big CPU.
					</IndustryCards>

					<IndustryCards
						title="Urban Development & Housing"
						href="industries/energy"
						cta="in the energy sector"
					>
						Learning JavaScript doesn't need to be difficult. Our penguin AI
						robot can learn how much you know and will go at your speed.
						Although Penguai is small, he's got a mighty big CPU.
					</IndustryCards>

					<IndustryCards
						title="Tourism"
						href="industries/energy"
						cta="in the energy sector"
					>
						Learning JavaScript doesn't need to be difficult. Our penguin AI
						robot can learn how much you know and will go at your speed.
						Although Penguai is small, he's got a mighty big CPU.
					</IndustryCards>

					<IndustryCards
						title="Transport Policy & Accessibility"
						href="industries/energy"
						cta="in the energy sector"
					>
						Learning JavaScript doesn't need to be difficult. Our penguin AI
						robot can learn how much you know and will go at your speed.
						Although Penguai is small, he's got a mighty big CPU.
					</IndustryCards>

					<IndustryCards
						title="Environment"
						href="industries/energy"
						cta="in the energy sector"
					>
						Learning JavaScript doesn't need to be difficult. Our penguin AI
						robot can learn how much you know and will go at your speed.
						Although Penguai is small, he's got a mighty big CPU.
					</IndustryCards>

					<IndustryCards
						title="Infrastructure"
						href="industries/energy"
						cta="in the energy sector"
					>
						Learning JavaScript doesn't need to be difficult. Our penguin AI
						robot can learn how much you know and will go at your speed.
						Although Penguai is small, he's got a mighty big CPU.
					</IndustryCards>

					<IndustryCards
						title="Regulatory Economics"
						href="industries/energy"
						cta="in the energy sector"
					>
						Learning JavaScript doesn't need to be difficult. Our penguin AI
						robot can learn how much you know and will go at your speed.
						Although Penguai is small, he's got a mighty big CPU.
					</IndustryCards>
				</div>
			</section>
		</main>
</BaseLayout>
