---
import "@/styles/global.css";
import BaseLayout from "@/components/BaseLayout.astro";
import BreadCrumbsDefault from "@/components/ui/BreadCrumbsDefault.astro";
import ShortHeader from "@/components/ui/ShortHeader.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout SEOTitle="Industries">
    <ShortHeader title={frontmatter.title} subtitle={frontmatter.description} />
    <main class="px-4 md:px-6 max-w-screen-2xl mx-auto pt-4 sm:pt-10">
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-12">
            <div class="lg:col-span-8 xl:col-span-7">
                <section class="prose max-w-none prose-h1:font-semibold prose-h2:font-semibold prose-h2:mt-0 prose-h2:mb-6 pt-6">
                    <div class="pb-0">
                        <h1 class="citation_title max-w-4xl break-words leading-tight">
                            {frontmatter.description}
                        </h1>
                    </div>
                    <div class="prose lg:prose-xl max-w-none break-words hyphens-auto">
                        <slot />
                    </div>
                </section>
            </div>
            <aside class="lg:col-span-4 xl:col-span-3">
                <!-- Add sidebar content here -->
            </aside>
        </div>
    </main>
</BaseLayout>