---
export const partial = true;
import { Icon } from "astro-icon/components";
import NavCard from "@/components/ui/NavCard.astro";

import { getCollection } from "astro:content";

const publications = (await getCollection("publications")).slice(0, 3);
const articles = (await getCollection("articles")).slice(0, 2);
const resources = (await getCollection("resources")).slice(0, 2);

// Sort each collection by the date field (without mutating the original arrays)
const sortedPublications = [...publications].sort((a, b) => {
  const dateA = new Date(a.data.date).getTime();
  const dateB = new Date(b.data.date).getTime();
  return dateB - dateA; // Sort in descending order (most recent first)
});

const sortedArticles = [...articles].sort((a, b) => {
  const dateA = new Date(a.data.date).getTime();
  const dateB = new Date(b.data.date).getTime();
  return dateB - dateA;
});

const sortedResources = [...resources].sort((a, b) => {
  const dateA = new Date(a.data.date).getTime();
  const dateB = new Date(b.data.date).getTime();
  return dateB - dateA;
});

interface Props {
  title: string;
  pubDate: Date; // Date object type
  imgSrc: string; // URL for the image
  imgAlt: string;
  link: string;
}

import windmill from '@/images/windmill.jpg';

---

<div class="w-full bg-white px-7">
  <div class="grid grid-cols-12 gap-0 max-w-screen-2xl mx-auto">
    <!-- Sidebar / Industries Section -->
    <div class="col-span-12 lg:col-span-2 bg-white p-6 max-w-screen-2xl">
      <div class="text-bold text-3xl">
        
        <a href="/contact"> Contact us
          <div
            class="group font-semibold text-base hover:underline hover:underline-offset-8 focus:underline-offset-8 focus:underline focus:outline-none flex place-items-center pt-1 gap-2 text-blue-600"
          >
            Start the conversation today
            <Icon
              name="carbon:arrow-right"
              class="size-6 to-blue-600 group-hover:translate-x-2 transition-transform duration-200 flex flex-shrink"
            />
          </div>
        </a>
        <p class="text-sm pt-3">
        0064 221 564529<br>
        contact@principaleconomics.com<br>
        Level 17, 55 Shortland Street, Auckland 1010</p>
      </div>
    </div>

    <!-- 3x3 Grid of capabilities Items -->
    <div class="col-span-12 lg:col-span-10 bg-white p-4">
      <!-- UL is the 3x3 grid with 3 items -->
      <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Static capability items -->
        <li class="text-gray-800">
          <div
            class="h-[80px] bg-white text-gray-900 text-left block text-md w-full"
            
          >
          <a href="/contact" class="group-hover:text-blue-600 group-hover:underline">
            <div class="h-full flex flex-col justify-center hover:underline hover:underline-offset-8 focus:underline-offset-8 focus:underline focus:outline-none ">
              <span class="leading-8 text-2xl font-serif hover:text-blue-600">
                Our contact details</span>
              <span class="text-md text-gray-500 hover:text-blue-600"
                >Message us directly
              </span>
            </div>
          </a>
          </div>
          <hr class="my-2 w-11/12 items-start h-0.5 bg-zinc-200 border-0 ">
          <div class ="flex flex-col gap-3 pt-2">

          </div>
        </li>

        <li class="text-gray-800">
          <div
            class="h-[80px] bg-white text-gray-900 text-left block text-md w-full"
            
          >
          <a href="/newsletter" class="group-hover:text-blue-600 group-hover:underline">
            <div class="h-full flex flex-col justify-center hover:underline hover:underline-offset-8 focus:underline-offset-8 focus:underline focus:outline-none ">
              <span class="leading-8 text-2xl font-serif hover:text-blue-600">
                Newsletter</span>
              <span class="text-md text-gray-500 hover:text-blue-600"
                >Subscribe to updates
              </span>
            </div>
          </a>
          </div>
          <hr class="my-2 w-11/12 items-start h-0.5 bg-zinc-200 border-0 ">

          <div class ="flex flex-col gap-3 pt-2">

          </div>
        </li>

        <li class="text-gray-800">
          <div
            class="h-[80px] bg-white text-gray-900 text-left block text-md w-full"
            
          >
          <a href="/team" class="group-hover:text-blue-600 group-hover:underline">
            <div class="h-full flex flex-col justify-center hover:underline hover:underline-offset-8 focus:underline-offset-8 focus:underline focus:outline-none ">
              <span class="leading-8 text-2xl font-serif hover:text-blue-600">
                Meet our team</span>
              <span class="text-md text-gray-500 hover:text-blue-600"
                >Diverse expertise and sharp economic insight
              </span>
            </div>
          </a>
          </div>
          <hr class="my-2 w-11/12 items-start h-0.5 bg-zinc-200 border-0 ">
          <div class ="flex flex-col gap-3 pt-2">
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
