---
export const partial = true;
import RightArrow from "../../components/ui/RightArrow.astro";
---

<div
  x-data="{
  sections: [
    {
      id: 'energy',
      title: 'Energy',
      description: 'Providing advice and forecasts in the area of energy sector investment.',
      summary: 'We provide expert advice on energy. Principal economics are experts in the field of energy economics with experience in developing and adopting economic models assessing energy issues in New Zealand.',
      img: '/blog-placeholder-1.jpg',
      alt: 'Energy',
      link: '/industries/energy',
    },
    {
      id: 'environment',
      title: 'Environmental',
      description: 'Fundamental uncertainty in the future climate requires new ways of planning.',
      summary: 'We offer a comprehensive range of services to support our clients in navigating the complex landscale of climate change and environmental issues.',
      img: '/blog-placeholder-2.jpg',
      alt: 'Climate Strategy',
      link: '/industries/environment',
    },
    {
      id: 'urban-development',
      title: 'Urban Development & Housing',
      description: 'Addressing challenges in housing affordability and urban spatial development.',
      summary: 'Our team at Principal Economics encompass a unique combination of knowledge, experience, and skills suited for solving spatial and urban development and housing issues.',    
      img: '/blog-placeholder-3.jpg',
      alt: 'Urban Development',
      link: '/industries/urban-development',
    },
    {
      id: 'infrastructure-planning',
      title: 'Infrastructure',
      description: 'Robust economic frameworks and empirical methods, informed by evidence, shaped in collaboration with stakeholders.',
      summary: 'We assist our clients in identifying the primary and secondary impacts of infrastructure investments',
      img: '/blog-placeholder-4.jpg',
      alt: 'Infrastructure Planning',
      link: '/industries/infrastructure',
    },
    {
      id: 'tourism-assessment',
      title: 'Tourism Impact Assessment',
      description: ' Valuing the direct and indirect benefits and costs of tourism.',
      summary: 'We have used different data sets alongside with our tourism modelling capabilities for evaluating the impact of a range of investments and policy initiatives in the tourism sector.',
      img: '/blog-placeholder-1.jpg',
      alt: 'Tourism Assessment',
      link: '/industries/tourism',
    },
    {
      id: 'regulatory-economics',
      title: 'Regulatory Economics Insights',
      description: 'Our comprehensive services cater to the unique challenges and opportunities that arise in these sectors.',
      summary: 'Our team have been assisting clients within regulated sectors to navigate the intricacies of economic regulation, catering to the unique challenges and opportunities that arise in these sectors.',
      img: '/blog-placeholder-1.jpg',
      alt: 'Regulatory Economics',
      link: '/industries/regulatory-economics',
    },
    {
      id: 'transport-policy',
      title: 'Transport Policy & Accessibility',
      description: 'Accessibility is the potential for interaction with locations dispersed over space.',
      summary: 'Our team currently lead some of the most important transport research and strategy topics. This includes providing expert advice on transport appraisal, transformative change, VKT and freight, emission reduction policies and decision making under deep uncertainty.',
      img: '/blog-placeholder-1.jpg',
      alt: 'Transport Policy',
      link: '/industries/transport',
    },
  ],
  openSection: 'energy',
  toggle(sectionId) {
        this.openSection = this.openSection === sectionId ? '' : sectionId;
        // if (this.openSection) {
        //     // this.$refs[sectionId].focus(); // Focus the opened section
        //     // this.focusedIndex = -1;
        // }
    },
    close() {
        this.openSection = 'energy';
    }
}"
  class="py-2 shadow-xl bg-white w-full border-y-2 border-gray-200 box-border"
>
  <div
    class="flex flex-row max-w-screen-2xl mx-auto h-full px-6"
    @mouseleave="openSection = 'energy'"
  >
    <!-- Section List -->
    <div class="w-2/3 h-full">
      <a
        href="/industries"
        class="flex items-center justify-start hover:underline hover:underline-offset-8 focus:underline-offset-8 focus:underline focus:outline-none 
        font-light py-2 pb-8 text-3xl"
      >
        <div class="flex flex-row items-center justify-start flex-grow">Industries we work with&nbsp <RightArrow /></div>
      </a>
      <ul class="grid grid-cols-2 gap-12 gap-y-3">
        <template x-for="section in sections" :key="section.id">
          <li class="text-gray-800">
            <a
              @mouseenter="openSection = section.id"
              @keydown.enter="handleEnter(section.link)"
              @keydown.space.prevent="focusSection(section.id)"
              @focus="openSection = section.id"
              class="h-[80px] pl-2 text-gray-600 text-left py-1 border-l-2 border-gray-300 block text-md w-full
            hover:border-blue-500 hover:text-blue-700 hover:border-l-4 hover:bg-gray-100 hover:shadow-sm
            focus:border-l-4 focus:border-blue-500 focus:text-blue-700 focus:bg-gray-100"
            x-bind:href="section.link"
            >
              <div
                class="h-full flex flex-col items-justified justify-center pl-2"
              >
                <span x-text="section.title" class="font-semibold leading-8"></span>
                <p x-text="section.description" class="text-sm text-gray-500">
                </p>
              </div>
            </a>
          </li>
        </template>
      </ul>
    </div>
    <!-- Section Display -->
    <div class="w-1/3 py-4 flex flex-col items-center">
      <template x-for="section in sections" :key="section.id">
        <div
          x-show="openSection === section.id"
          class="section-content transition duration-300 h-full items-center"
          x-cloak
        >
          <article
            class="group flex rounded max-w-sm flex-grow
                        border border-zinc-300 bg-zinc-100 text-neutral-600 w-full h-full"
          >
            <!-- <div class="overflow-hidden">  -->
            <!-- <img 
              :src="section.img" 
              :alt="section.alt" 
              class="object-cover transition duration-700 ease-out group-hover:scale-105"
              width="w-full" 
              height="280"
              /> -->
            <!-- </div> -->
            <div class="flex flex-col gap-8 p-6 justify-items-stretch">
              <span
                class="text-balance text-xl lg:text-2xl font-bold text-neutral-900"
                aria-describedby="featureDescription"
                x-text="section.title">...</span
              >
              <p
                id="featureDescription"
                class="text-pretty text-md"
                x-text="section.summary"
              >
                ...
              </p>
            </div>
          </article>
        </div>
      </template>
    </div>
  </div>
</div>
