---
export const partial = true;

import SearchWidget from "@/components/nav/SearchWidget.astro";
import NavCluster from "@/components/nav/NavCluster.astro";

---

<nav
id = "nav"
class="nav relative text-gray-900 w-full py-2 h-14 border-b-2 shadow-md border-gray-200 box-border">
  
  <div class="flex flex-row max-w-screen-2xl mx-auto h-full items-center">
    <a class="lg:px-6 lg:py-2 text-xl text-blue-600 font-bold border-r-2 h-full items-center flex pr-2 justify-start hover:bg-gray-100"
    href="/index">
      Principal Economics
    </a>
      <NavCluster/>
      <div class="flex flex-row ml-auto justify-end items-center h-full">
        <SearchWidget />
      </div>
    </div>
</nav>

<style>
  .toggleable > label:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .toggle-input {
    display: none;
  }

</style>

