---
import Solutions from "./SolutionsMenu.astro";
import Industries from "./IndustriesMenu.astro";
import Technology from "./TechnologyMenu.astro";
import About from "./AboutMenu.astro";
import Contact from "./ContactMenu.astro";
import Accordion from "./AccordionNav.astro";
---

<Accordion>
  <div slot="title">Solutions</div>
  <Solutions />
</Accordion>

<Accordion>
  <div slot="title">Industries</div>
  <Industries />
</Accordion>

<Accordion>
  <div slot="title">Technology</div>
  <Technology />
</Accordion>

<Accordion>
  <div slot="title">About</div>
  <About />
</Accordion>

<Accordion>
  <div slot="title">Contact</div>
  <Contact />
</Accordion>
