---
const { class: customClass = "" } = Astro.props;
---

<div class="block font-light font-sans  h-full w-full overflow-hidden" x-data="{ isExpanded: false }">
  <!-- Button Section -->
  <button
    :id="$id('accordionItem')"
    type="button"
    class={`flex w-full items-center justify-between px-4 py-3 text-lg font-medium transition-colors
h-[60px] pl-2 bg-white text-gray-600 text-left py-1 border-l-2 text-md hover:border-blue-600 hover:text-blue-600 hover:border-l-4  hover:shadow-sm focus:border-l-4 focus:border-blue-600 focus:text-blue-700 focus:bg-gray-100


      hover:bg-gray-50 border-t border-zinc-200
      ${customClass}`}
    :aria-controls="$id('accordionContent')"
    @click="isExpanded = !isExpanded"
    @keydown.enter.space="isExpanded = !isExpanded"
    :aria-expanded="isExpanded"
  >
    <span class="text-left">
      <slot name="title" />
    </span>
    
    <!-- Animated Icon -->
    <span class="relative w-4 h-4 ml-2 shrink-0">
      <svg
        class="absolute w-full h-full transition-transform duration-300"
        :class="isExpanded ? 'rotate-180' : 'rotate-0'"
        aria-hidden="true"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
      >
        <path d="M6 9l6 6 6-6" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <span class="sr-only">
        <span x-text="isExpanded ? 'Collapse' : 'Expand'"></span> menu
      </span>
    </span>
  </button>

  <!-- Content Section (Now positioned after button) -->
  <div
    x-cloak
    x-show="isExpanded"
    x-collapse.duration.300ms
    :id="$id('accordionContent')"
    role="region"
    :aria-labelledby="$id('accordionItem')"
    class="overflow-hidden"
  >
    <ul class="pb-2 pl-0 pr-0 space-y-2">
      <slot />
    </ul>
  </div>
</div>

<style>
  [x-cloak] { display: none !important; }
</style>