<section class="pt-24 pb-16">
  <div class="max-w-3xl mx-auto">
    <div class="text-center mb-10">
      <h1 class="mb-4 text-4xl font-semibold">Contact Us</h1>
      <p class="text-gray-600 dark:text-gray-400 mb-6">
        Send us a direct message to start the conversation.
      </p>
    </div>

    <div class="m-7">
      <form action="https://api.web3forms.com/submit" method="POST" id="form">
        <input type="hidden" name="access_key" value="YOUR_ACCESS_KEY_HERE" />
        <input type="hidden" name="subject" value="New Submission from Web3Forms" />
        <input type="checkbox" name="botcheck" style="display: none;" />

        <div class="flex mb-6 space-x-4">
          <div class="w-full md:w-1/2">
            <label for="fname" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
              First Name
            </label>
            <input
              type="text"
              name="name"
              id="first_name"
              placeholder="John"
              required
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-600 "
            />
          </div>
          <div class="w-full md:w-1/2">
            <label for="lname" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
              Last Name
            </label>
            <input
              type="text"
              name="last_name"
              id="lname"
              placeholder="Doe"
              required
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-600 "
            />
          </div>
        </div>

        <div class="flex mb-6 space-x-4">
          <div class="w-full md:w-1/2">
            <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
              Email Address
            </label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="you@company.com"
              required
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-600 "
            />
          </div>

          <div class="w-full md:w-1/2">
            <label for="phone" class="block text-sm mb-2 text-gray-600 dark:text-gray-400">
              Phone Number
            </label>
            <input
              type="text"
              name="phone"
              id="phone"
              placeholder="+64 (21) 1234-567"
              required
              class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-600 "
            />
          </div>
        </div>

        <div class="mb-6">
          <label for="message" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
            Your Message
          </label>
          <textarea
            rows="5"
            name="message"
            id="message"
            placeholder="Your Message"
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-600 "
            required
          ></textarea>
        </div>

        <div class="mb-6">
          <button
            type="submit"
            class="w-full px-3 py-4 text-white bg-black rounded-sm focus:bg-blue-600 focus:outline-none"
          >
            Send Message
          </button>
        </div>
        <p class="text-base text-center text-gray-400" id="result"></p>
      </form>
    </div>
  </div>
</section>
