
<div class="flex flex-col md:flex-row gap-4 md:gap-6">
  <!-- Left Column (Title) -->
  <div class="w-full md:w-1/2 lg:w-[30%] xl:w-[25%] hidden md:block lg:block xl:block">
    <h2 class="text-4xl">
      <slot name="title" />
    </h2>
  </div>

  <!-- Right Column (Content) -->
  <div class="w-full md:w-[50%] lg:w-[70%] xl:w-[75%] space-y-3 prose">
    <div class="text-gray-700 mb-4">
      <slot name="content" />
    </div>
  </div>
</div>