---
const { title, date, category, imgSrc, imgAlt, link } = Astro.props;
---

<a
  href={link}
  class="block border rounded-sm overflow-hidden text-start no-underline shadow-md hover:shadow-lg
  hover:border-blue-800 transition-all duration-400 ease-in-out group
  w-full aspect-[288/410] max-w-[288px]"  
>
  <article class="flex flex-col h-full">
    <!-- Text Content Section -->
    <div class="flex flex-col p-4 pb-2 flex-grow max-h-[52%]"> 
      <span class=" text-gray-600 text-xs font-bold rounded-full px-4 py-1 w-fit mb-3 md:mb-7"> 
        
      </span>
      <h2 class="text-xl font-bold leading-tight text-gray-900 transition-colors group-hover:text-blue-800 line-clamp-3 overflow-hidden">
        {title}
      </h2>
    </div>

    <!-- Flexible Image Section -->
    <div class="flex flex-col mt-auto">
      <span class="text-sm text-gray-500 font-bold px-4">&nbsp</span>
      <div class="relative w-full h-[200px] min-h-[120px] overflow-hidden transition-opacity group-hover:opacity-70"> 
        <img
          src={imgSrc}
          alt={imgAlt}
          class="w-full h-full object-cover"
          loading="lazy"
          decoding="async"
        />
      </div>
    </div>
  </article>
</a>